<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
        <div class="d-flex">
          <input class="form-control me-2" (keyup.enter)="doSearch(search.value)" type="search" #search placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" (click)="doSearch(search.value)" type="button">Search</button>
        </div>
      </div>
    </div>
  </nav>

  <br>

  <div class="container">
      <div class="row">
          <div class="col-md-4 text-center">
            <div>
                <img class="img-fluid rounded-circle" src="{{ searchService.ghUser.avatar_url }}" alt="ian">
            </div>
            <div>
              <h3>{{ searchService.ghUser.name }}</h3>
              <p><a href="{{ searchService.ghUser.html_url }}" target="_blank">@{{ searchService.ghUser.login }}</a></p>
              <p>{{ searchService.ghUser.bio }}</p>
            </div>
          </div>
          <div class="col-1"></div>
          <div class="col-md-7">
            <div class="row">
                <h2>My Repositories</h2>
                <div *ngFor="let repo of searchService.results" class="col-md-5 m-1 bg-light" style="word-break: break-all;">
                    <h4><a href="{{ repo.html_url }}" target="_blank">{{ repo.name }}</a></h4>
                    <p>{{ repo.description }}</p>
                    <p class="text-danger">{{ repo.topics }}</p>
                    <p> <i class="fa fa-star"></i> {{ repo.stargazers_count }} &nbsp;&nbsp; <i class="fa-solid fa-code-fork"></i> {{ repo.forks_count }}</p>
                    <p><em>Created: {{ repo.created_at | date }}</em></p>
                </div>
            </div>
          </div>
      </div>
  </div>